<div class="row-fluid page-head">
  <h2 class="page-title"><i class="fontello-icon-users-1"></i> Kundenliste </h2>

</div>
<!-- // page head -->
<div id="page-content" class="page-content">
  <section>
    <div class="row-fluid margin-top20">
      <div class="span12 grider">
        
        

        <div style="margin-top: 20px; margin-bottom: 10px" class="widget widget-simple">
<!--
          <div class="widget-header">
            <h4><i class="fontello-icon-user"></i> Benutzerkonto </h4>
          </div>
-->
          <div class="widget-content">
            <div class="widget-body">
              <div class="row-fluid">
                <div class="span12">
                  <a href="#" class="btn" style = "margin-bottom: 5px;" data-toggle="collapse" data-target="#new_customer_field">
                    <img src="/assets/customer/user_add.png" title="Neuen Kunden hinzufügen">
                  </a>
                  <div id="new_customer_field" class="collapse"> 

                      <%= form_for Customer.new, :url => { :action => "create" } do |f| %>
                        <div class="control-group" id ="new_customer_name_field_div">
                          <%= f.label :name %>
                          <%= f.text_field :name, :id => "new_customer_name_field" %>
                        </div>
                        <div class="field">
                          <%= f.label :email %>
                          <%= f.text_field :email %>
                        </div>
                        <div class="actions">
                          <%= f.submit "Speichern", :class => "btn btn-green", :id => "new_customer_save_btn"%>
                        </div>
                      <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="well well-box well-nice no-border">  

          <table id="customerShowTable" class="table boo-table _table-condensed table-content table-hover table-bordered"  > <!-- data-provides="rowlink" -->

            <thead>
              <tr>
                <th scope="col">ID <span class="column-sorter"></span></th>
                <th scope="col">Name <span class="column-sorter"></span></th>
                <th scope="col">Email <span class="column-sorter"></span></th>
                <th scope="col">Login <span class="column-sorter"></span></th>
                <th scope="col">Kennwort<span class="column-sorter"></span></th>
                <th class="action" scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% @customers.each do |customer| %>
                <tr data-customer-line-id="<%= customer.id %>">
                  <td><%=customer.id%></td>
                  <td><%=customer.name%></td>
                  <td><%=customer.email%></td>
                  <td><%=customer.username%></td>
                  <td><%=customer.password_visible%></td>
                  <td class="action">
                    <a class="icon" href="<%= user_customer_path(@user, customer) %>">
                      <i class="fugue-magnifier" title="details"></i>
                    </a> 
                    <a class="icon" href="">
                      <i class="fugue-pencil" title="bearbeiten"></i>
                    </a>
  
                    <%= link_to '', user_customer_path(@user, customer, :json), :title => "löschen", :class =>"fugue-cross-circle", "data-customer-destroy-id" => customer.id, data: { confirm: 'Wollen Sie diesen Kunden löschen?' } %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- // Example row --> 
  </section>
</div>
<!-- // page content --> 



  <script type="text/javascript">
    jQuery(function($){
      $('#customerShowTable').dataTable({
        iDisplayLength: 10,
        sDom: "<'row-fluid' <'span4'l> <'span8'pf> > rt <'row-fluid' <'span12'i> >"
      });

 //     $('tbody.rowlink').rowlink();
    });



    $('a[data-customer-destroy-id]').live('click', function(){
      var a = $(this);
      $.ajax({
        data: {"_method":"delete"},
        type: 'post',
        url: a.attr("href"),
        success: process,
        error: function(msg){
          console.log("error");
          alert(msg);
        }
      });
      return false;
    });

    function process(data){
      if(data.status == "deleted") {
         $('tr[data-customer-line-id=' +data.customer.id+ ']').hide();
      }
      console.log(data);
    }




    $('#new_customer_save_btn').live('click', function(){
      if ($('#new_customer_name_field').val() == ""){
        $('#new_customer_name_field_div').addClass("error");
        $('#new_customer_name_field_div').append('<span class="help-inline">Name darf nicht leer sein!</span>');
        return false;
      }
      
    });

  </script>




<%= javascript_include_tag"bootstrap-rowlink/js/bootstrap-rowlink.js" %>
<%= javascript_include_tag "datatables/media/js/jquery.dataTables.js" %>
<%= javascript_include_tag "datatables/plugin/jquery.dataTables.plugins.js" %>
<%= javascript_include_tag "datatables/plugin/jquery.dataTables.columnFilter.js" %>
