<div class="row-fluid page-head">
  <h2 class="page-title"><i class="fontello-icon-user-1"></i><%= @customer.name %></h2>
</div>
<!-- // page head -->
<p id="notice"><%= notice %></p>
<div id="page-content" class="page-content">
  <section>
    <div class="row-fluid margin-top20">
      <div class="span12 grider">
      	<div class="span9 grider">
            <div class="widget widget-simple">
                <div class="widget-header">
                    <h4><i class="fontello-icon-user"></i> Benutzerkonto </h4>
                </div>
                <div class="widget-content">
                    <div class="widget-body">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="control-group no-margin-bootom">
                                    <label class="control-label label-left"> </label>
                                    <div class="controls">
                                        <address>
                                            <h2><%= @customer.name %></h2>
                                            <abbr>E-mail:</abbr> <%= @customer.email %><br>
                                            <abbr>Letzter login am: </abbr> <%= @customer.current_sign_in_at%> <br />
                                            <abbr>Erstellt am: </abbr> <%= @customer.created_at %>
                                        </address>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <a href="<%= new_user_customer_album_path(@user, @customer) %>" class="btn" style = "margin-bottom: 5px;">
              <img src="/assets/album/add_album.png" title="Alben hinzufügen">
            </a>
			<div class="widget widget-box widget-recent">
                <div class="widget-header">
            	    <h4><i class="fontello-icon-picture"></i> Fotoalben <h4>
                </div>
                <div class="widget-content albums_widget_content">
                	<div class="widget-body">
                        <%if @albums.length == 0 %>
                            <h5 class="no_albums_text"> Keine Alben vorhanden.</h5>
                        <% end %>
                		<% @albums.each do |album| %>
                			<div class="album_box" id="<%= album.id%>"> 
                                <div class="album_delete_icon"> 
                                    <%= link_to image_tag("/assets/album/delete_icon.png", :border=>0), user_customer_album_path(@user, @customer, album), method: :delete, data: { confirm: 'Are you sure?' }  %>
                                    
                                </div>
                				<a href="<%= user_customer_album_path(@user, @customer, album) %>">
                					<img src="/assets/album/album_icon.png">
                				</a>
                				<div class="fotoalbum_titel">
                					<%= album.title %> <br />
                					(<%= album.photos.length%> Fotos)
                				</div>
                   			</div>
                		<% end %>
                    </div>
                </div>
            </div>
            <!-- // Widget -->                       
        </div>
        <!-- // Column --> 
        <div class="span3 grider">
            <div class="widget widget-simple widget-notes">
                <div class="widget-header">
                    <h4><i class="fontello-icon-edit"></i> Notizen</h4>
                    <div class="widget-tool">
                        <a href="javascript:void(0);" class="btn btn-green btn-small btn-glyph"> Alle anzeigen</a>
                    </div>
                </div>
                <div class="widget-content">
                    <div class="widget-body">
                        <form class="form-dark" id="formNotes">
                            <fieldset>
                                <label class="control-label" for="accountTaxVat"> Titel</label>
                                <input type="text" class="input-block-level" id="accountTaxVat">
                                <label for="accountNotes">Text:</label>
                                <textarea rows="4" class="input-block-level" id="accountNotes"></textarea>
                            </fieldset>
                            <!-- // fieldset Input -->
                                            
                            <button class="btn btn-yellow btn-block">Speichern</button>
                        </form>
                    </div>
                </div>
                <div class="widget-header">
                    <h4><i class="fontello-icon-list-alt"></i> Letzte Notizen </h4>
                </div>
                <div class="widget-content">
                    <div class="widget-body">
                        <ol class="widget-list list-dotted">
                            <li class="media"> 
                                <span class="pull-left">
                                    <span class="item-icon fontello-icon-pin-1"></span>
                                </span>
                                <div class="media-body"> 
                                    <span class="date">10:30 AM</span> 
                                    <span class="quick-menu-icon pull-right"> 
                                        <a class="edit fontello-icon-edit"></a> 
                                        <a class="state fontello-icon-archive"></a> 
                                        <a class="state fontello-icon-trash-1"></a> 
                                    </span>
                                    <p class="note">Pellentesque malesuada nulla nunc nunc facilisi Donec tellus nec Donec et. Pellentesque metus dolor neque consequat scelerisque.</p>
                                </div>
                            </li>
                            <li class="media"> 
                                <span class="pull-left">
                                    <span class="item-icon fontello-icon-pin-1"></span>
                                </span>
                                <div class="media-body"> 
                                    <span class="date">09-09-2012 02:30 PM</span> 
                                    <span class="quick-menu-icon pull-right"> 
                                        <a class="edit fontello-icon-edit"></a> 
                                        <a class="state fontello-icon-archive"></a> 
                                        <a class="state fontello-icon-trash-1"></a> 
                                    </span>
                                    
                                    <p class="note">Pellentesque malesuada nulla nunc nunc facilisi Donec tellus nec Donec et. Pellentesque metus dolor neque consequat scelerisque.</p>
                                </div>
                            </li>
                            <li class="media"> 
                                <span class="pull-left">
                                    <span class="item-icon fontello-icon-pin-1"></span>
                                </span>
                                <div class="media-body"> 
                                    <span class="date">08-15-2012 11:50 AM</span> 
                                    <span class="quick-menu-icon pull-right"> 
                                        <a class="edit fontello-icon-edit"></a> 
                                        <a class="state fontello-icon-archive"></a> 
                                        <a class="state fontello-icon-trash-1"></a> 
                                    </span>
                                    <p class="note">Pellentesque malesuada nulla nunc nunc facilisi Donec tellus nec Donec et. Pellentesque metus dolor neque consequat scelerisque.</p>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- // Widget -->                    
        </div>
      </div>
    </div>
    <!-- // Example row --> 
  </section>
</div>
<!-- // page content --> 







                        
                      
                        
                    
