<div class="row-fluid page-head">
  <h2 class="page-title"><i class="fontello-icon-monitor"></i> Dashboard <small>demo dashboard 2</small></h2>
  <p class="pagedesc">Sample preparation dashboard Boo of Administrators - Demopage Two  </p>
  <div class="page-bar">
    <div class="btn-toolbar"> </div>
  </div>
</div>
<!-- // page head -->
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>
<p>
  <b>Username:</b>
  <%= @customer.username %>
</p>
<p>
  <b>Password:</b>
  <%= @customer.password_visible %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>


<%#= link_to 'Edit', edit_customer_path(@customer) %> |
<%#= link_to 'Back', customers_path %>
